/* Estilos específicos para a página Home */
.destaque {
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    display: flex;
    align-items: center;
    
}

.apresentacao {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    
   
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #000000;
    margin-bottom: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.cta-button {
  padding: 10px 20px;
  background-color: #3f2eb0;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s;
  margin-top: 10px;
}
.cta-button:hover {
  background-color: #5b4bcc;
}

.contato {
    position: fixed;
    bottom: 40px;               /* Subiu a caixa */
    left: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    font-size: 0.8em;
    text-align: left;
    display: inline-block;       /* Faz a largura ajustar ao conteúdo */
    max-width: fit-content;      /* Ou use apenas fit-content, dependendo do navegador */
}

.contato p {
    margin: 3px 0;
    word-wrap: break-word;       /* Se quiser evitar que palavras longas estourem a caixa */
}

.contato a {
    color: #007bff;
    text-decoration: none;
}

.contato a:hover {
    text-decoration: underline;
}


p{
    font-family: "LXGW Marker Gothic", sans-serif;
}